---
layout: home
main-title: "Diane Martin"
subtitle: "Make-up Artist and Hairstylist ~ Paris, FRANCE"
images:
 - image_path: /img/slider/chloe.jpg
   gallery-folder: /img/slider/
 - image_path: /img/slider/Fleur.jpg
   gallery-folder: /img/slider/
 - image_path: /img/slider/chloe-n10.jpg
   gallery-folder: /img/slider/
 - image_path: /img/slider/modelweb.jpg
   gallery-folder: /img/slider/
---

<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">

	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">

	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://dianemartinmuah.com/" />
	<meta property="og:image" content="https://dianemartinmuah.com/galerie_beauty/img/CF106258web.jpg" />
	<meta property="og:description" content="{{site.og_description}}" />

	<link rel="canonical" href="{{ page.url }}" />
	<link rel="shortcut icon" href="{{ site.basurl }}/favicon.png?" type="image/x-icon">
	<link rel="icon" href="{{ site.baseurl }}/favicon.png?" type="image/x-icon">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

	<!-- CSS -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/galleries.css" media="screen" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/WYSIWYG.css" media="screen" />

	<!-- Modernizr -->
	<script src="{{ site.baseurl }}/js/modernizr.js"></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-101987382-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body class="fullscreen">

<!-- MAIN CONTENT SECTION  _____________________________________________-->
<section id="content" role="main">
<div class="wrapper">
	<!-- WYSIWYG -->
	<div class="gallery fullscreen-gallery kenburns-gallery">
		<canvas id="kenburns"></canvas>
		{% for image in page.images %}
		<figure class="gallery-item">
		<header class='gallery-icon'>
			<a href="{{ site.baseurl }}{{ image.gallery-folder }}">
			<img src="{{ site.baseurl }}{{ image.image_path }}"></a>
		</header>
		</figure>
		{% endfor %}
	</div>


	<div class="position-absolute">
		<h2 class="big no-margin">{{ page.main-title }}</h2>
		<h3 class="big">{{ page.subtitle }}</h3>
		<!-- <br> -->
		<div id="footer" role="contentinfo">
			<ul class="soc-icons">
				{% if site.facebook_username %}
				<li>
				<a href="https://facebook.com/{{ site.facebook_username }}" style="
				color:#dddddd; target="_blank" title="Facebook">
				<i class="fa fa-facebook"></i>
				</span>
				</a>
				</li>
				{% endif %}

				{% if site.instagram_username %}
				<li>
				<a href="https://instagram.com/{{ site.instagram_username }}" style="
				color:#dddddd; target="_blank" title="Instagram">
				<i class="fa fa-instagram"></i>
				</span>
				</a>
				</li>
				{% endif %}

				<li>
				<a href="mailto:{{ site.email }}" style="
				color:#dddddd; target="_blank" title="Email">
				<i class="fa fa-envelope-o"></i></span>
				</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- END WYSIWYG -->
</div><!-- END .wrapper -->
</section>
<!-- jQuery -->
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


  <script src="{{ site.baseurl }}/js/retina.min.js"></script>

<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include gallery cycle plugin -->
<script src="{{ site.baseurl }}/js/jquery.cycle.min.js"></script>
<!-- include kenburns plugins -->
<script src="{{ site.baseurl }}/js/kenburns.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>




       </body>
    </html>

